/* .page {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.page-enter {
  transform: translateX(100%);
}
.page-enter-active {
  transform: translateX(0);
}
.page-exit {
  transform: translateX(-100%);
}
.page-exit-active {
  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
} */

.page {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transition: transform 0.8s linear;
}

.page-enter {
  transform: translateX(100%);
}

.page-enter-active {
  transform: translateX(0);
}

.page-exit-active {
  transform: translateX(-100%);
}
